<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
        <link rel="stylesheet" href="/css/index.css">
        
    </head>
    <body>
        <div id="results-banner-img">
            <%- include("layouts/header") -%>
            
            <div id="banner" class="results">
                <h2>Results</h2>
            </div>
        </div>

        <form name="resultForm" id="resultForm" method="get" action="/results">
            <div>
                <label>Test Type : </label>
                <select name="testType" id="testType">
                    
                    <option value="g2test">G2 Tests</option>
                    <option value="gtest">G Tests</option>
                </select>
            </div>
            <div>
                <label>Test Result : </label>
                <select name="result" id="result">
                    <option value="true">Pass</option>
                    <option value="false">Fail</option>
                    
                </select>
            </div>
            <input type="submit" value="Display Results"> 

        </form>
        
        <% if(locals?.users?.length > 0) { %>
            <div id="examinerTestsContainer">
        <%    for (var i=0; i < users.length ; i++) { %>
                <div class="testdriverinfo">
                        <div>
                            <span class="tag">Name : </span><span class="bold"> <%= users[i].first_name %> <%= users[i].last_name %> </span>
                        </div>
                        <div>
                            <span class="tag">License Number : </span> <span class="bold"> <%= users[i].license_no %> </span>
                        </div>
                        <div>
                            <span class="tag">Car Plate Number : </span> <span class="bold"> <%= users[i].car_details.plate_no %> </span>
                        </div>
                    
                </div>
            <% }
        } else if(locals.users == ""){ %>
            <div class="nousers">
                <h3>No drivers found</h3>
                
            </div>
        <% } %>
        
        
        <div id="snackbar">Some text some message..</div>
        
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/results.js"></script>
    </body>
</html>